<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- que el tamaño se ajuste al tamaño de la pantalla -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    /> <!-- Estos links permiten usar estilos bootstrap sin descargarlos de verdad -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/baseViews.css') }}"
    />

    <!-- <title>{% block title %}Home{% endblock %}</title>  Los blocks podrán ser cambiados por otra de las templates, pues sobreescribirán esta template -->
  </head>
  <body>

  <!-- <div class="text-left text-lg-start mt-4 pt-2" style="width:100%; padding:0 60px;">
    <button type="submit" class="btn btn-secondary">Back</button>
  </div> -->

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e6e6e6;"> <!-- Esto son clases de Bootstrap -->
    <button
      id="navbarCollapsedButton"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    > <!-- Permite expandir el navbar si no entra, por ejemplo en pantalla de movil -->
      <span id="navbarCollapsedIcon" class="navbar-toggler-icon"></span> <!-- Es el icono de la navbar -->
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
          <a id="QKPDVSC" class="navbar-brand" href="/login">QKPDVSC</a>
        </ul>
    </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
 
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center h-100">
    <form method="POST">
      <h3 align="center">GET YOUR ACCOUNT BACK</h3>
      <p>&nbsp;&nbsp;</p>
      <p>Introduce your email address to search your account.</p>
      <p>&nbsp;&nbsp;</p>
      <div class="form-outline mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      
      <br />
      <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn btn-primary">Get new password</button> <!-- btn-primary son clases de BOOTSTRAP -->
      </div>
    </form>
  </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script> <!-- Así es como se carga una imagen o archivo del folder static. Los 2 paréntesis indican que dentro habrá codigo python-->
  </body>
</html>

